<!DOCTYPE html>
<html>
  <head>
    <title>Pimienta & sal</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/create.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
     <!-- Navbar (sit on top) -->
     <%- include ("./partials/nav") %>
     <body>
        <div class="caja-grande" >
            <div class="box-form">
              <div class="title-form letter-gral">FORMULARIO DE CREACIÓN</div>

                <form action="/product/crear" method="post" class="formulario" enctype="multipart/form-data" style="width: 100%;">
                    
                    <label for="titulo" class="label-form">NOMBRE DEL PRODUCTO</label>
                    <input type="text" name="titulo" class="input-form" value="<%=(locals.old && old.titulo ) ? old.titulo : '' %>">
                    <!--la vista tiene acceso a variables locales, una de ellas es LOCAL que carga lo que le mandamos de la lógica a la vista(como res.query, res.params)-->

                    <div class="msj-error">
                      <% if (locals.errors && errors.titulo) {%>
                        <%=errors.titulo.msg%>
                      <%}%>
                    </div>                   
                    
                    <label for="detalle" class="label-form">DETALLE</label>
                    <textarea name="detalle" id="descripcion" cols="30" rows="10" class="input-form" style="height:90px;"><%=(locals.old && old.detalle ) ? old.detalle : '' %></textarea>
                    <div class="msj-error">
                      <% if (locals.errors && errors.detalle) {%>
                        <%=errors.detalle.msg%>
                      <%}%>
                    </div>            

                    <label for="precio" class="label-form">PRECIO</label>
                    <input type="text" name="precio" class="input-form" value="<%=(locals.old && old.precio ) ? old.precio : '' %>">
                    <div class="msj-error">
                      <% if (locals.errors && errors.precio) {%>
                        <%=errors.precio.msg%>
                      <%}%>
                    </div>            

                    <label for="img" class="label-form">IMAGENES</label>
                    <input type="file" name="img" class="input-form">
                    <div class="msj-error">
                      <% if (locals.img && img.precio) {%>
                        <%=errors.precio.msg%>
                      <%}%>
                    </div> 

                    <div class="display-center">
                        <button type="submit" class="button-form">SUBIR PRODUCTO</button>
                    </div>
            
                </form>
            </div>
        </div>



     </body>
    

      <!-- Footer -->
      <%- include ("./partials/footer") %>