<!DOCTYPE html>
<html>
  <head>
    <title>Pimienta & sal</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/create.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
     <!-- Navbar (sit on top) -->
     <%- include ("./partials/nav") %>
     <body>
        <div class="caja-grande" >
            <div class="box-form">
              <div class="title-form letter-gral">FORMULARIO DE MODIFICACIÓN</div>

                <form action="/editar/<%=producto.id%>?_method=put" method="post" class="formulario" style="width: 100%;">

                    
                    <label for="titulo" class="label-form">NOMBRE DEL PRODUCTO</label>
                    <input type="text" name="titulo" value="<%=producto.titulo%>" required class="input-form">

                    <label for="detalle" class="label-form">DETALLE</label>
                    <textarea name="detalle" id="detalle" cols="30" rows="10" required class="input-form" style="height:90px;"><%=producto.detalle%></textarea>

                    <label for="precio" class="label-form">PRECIO</label>
                    <input type="text" name="precio" required class="input-form" value="<%=producto.precio%>">

                    <label for="img" class="label-form">IMAGENES</label>
                    <input type="file" name="img" >

                    <div class="display-center">
                        <button type="submit" class="button-form">EDITAR PRODUCTO</button>
                    </div>
            
                </form>
                <form action="/editar/<%=producto.id%>?_method=delete" method="post" style="width: 100%;" class="display-center">
                  <button type="submit" class="button-form">ELIMINAR PRODUCTO</button> 
                </form>
            </div>
        </div>



     </body>
    

      <!-- Footer -->
      <%- include ("./partials/footer") %>