<!DOCTYPE html>
<html>
  <head>
    <title>Pimienta & sal</title>
    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!-- Navbar (sit on top) -->
    <%- include ("./partials/nav") %>

    <!--resultadodebusqueda-->
    <h4 class="titulo-recuadro" style="margin: 10px;">Resultados:</h3> 

      <div class="search-gral">
      <% for (let resultado of resultados) { %>        <div class="recuadro-search">
        <a href="/editar/<%=resultado.id%>">
          <div class="titulo-recuadro">
            <%= resultado.titulo %>
          </div>
          <div class="desc-recuadro">
            <%= resultado.detalle %>
          </div>
          <div class="precio-recuadro">
            <%= resultado.precio %>
          </div>
          <div class="img-recuadro" style="background-image: url(/images/<%=resultado.img%>);">
          </div>  
        </a>         
      </div>
     
      <% } %>
    </div>

